.header {
  height: 80px;
  width: 100%;
  background-color: var(--grey-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}

/* .dark .header {
  background-color: var(--grey-900);
  color: var(--white);
} */