.titledChatsList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}
.titledChatList__title {
  margin-bottom: 5px;
}
.titledChatList__chats {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}