.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;

}

.wrapper {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin-right: 16px;
}
.messageTextField {
  width: 100%;
  margin: 0 16px;
  border: none;
  background: none;
}
.messageTextField:focus {
  outline: none;
}

