.fullsize {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
}


.appContainerContent {
  width: 100%;
  display: flex;
  flex-grow: 1;
  .chats {
    width: 200px;
    background-color: blue;
  }
  .chatInfo {
    flex-grow: 1;

    background-color: #eee;
  }
}
