.extraLightBg {
  background-color: var(--grey-100);
  color: var(--grey-900);
}

.lightBg {
  background-color: var(--grey-200);
  color: var(--grey-900);
}

.whiteBg {
  background-color: var(--white);
  color: var(--grey-900);
}

.dark .extraLightBg,
.dark .lightBg,
.dark.whiteBg {
  background-color: var(--grey-900);
  color: var(--white);
}

.borderBottom {
  border-bottom: 1px solid var(--grey-400);
}
.borderRight {
  border-right: 1px solid var(--grey-400);
}

.dark .borderBottom,
.dark .borderRight {
  border-color: var(--grey-700);
}
